*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(240, 240, 240);
    color: rgb(33, 33, 33);
    font-family: 'Titillium Web', sans-serif;
    overflow: scroll;
}
a{
    color: rgb(33, 33, 33);
}