*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(240, 240, 240);
    color: rgb(33, 33, 33);
    font-family: 'Titillium Web', sans-serif;
    overflow: scroll;
}
article{
    padding-top: 40px;
}
a{
    color: rgb(33, 33, 33);
}
button{
    cursor: pointer;
}
.primerArticulo {
    padding-top: 0;
    margin-top: -60px;
}
/* Estilos de letra */
.tituloParrafo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloParrafo h3{
    width: 100%;
    text-align: center;
    font-size:25px;
}
.parrafoInformacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.parrafoInformacion p{
    width: 90%;
    text-align: justify;
    font-size: 16px;
}
.ligaMenu {
    a {
        color: rgb(228, 177, 114);
        text-decoration: underline;
        font-weight: bold;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    p {
        text-align: center;
        width: 100%;
        font-size: 25px;
    }
    img {
        margin: 10px;
        width: 200px;
        border: 2px solid rgb(228, 177, 114);
        -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
    }
}
.tituloArticulo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloArticulo h3{
    width: 100%;
    text-align: center;
    font-size:30px;
}
.ligaWhatsapp {
    text-decoration: none;
}
.ligaWhatsapp img{
    width: 30px;
}
.redesFlotantes {
    position: fixed;
    right: 0;
    top: 60%;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.redesFlotantes img{
    margin-top: 10px;
    width: 30px;
}
.redesFlotantes .redes{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}
.floatLeft {
    float: left;
}
.redSocial {
    margin-top: 30px;
    margin-left: 20px;
    text-decoration: none;
}
.copiarCorreoElectronico {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.copiarCorreoElectronico a {
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    background-color: white;
}
.copiarCorreoElectronico button {
    margin-top: 20px;
    width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.copiarCorreoElectronico img {
    width: 25px;
    height: 25px;
}
@media screen and (min-width: 768px){
    .parrafoInformacion p{
        font-size:20px;
    }
    .ligaMenu {
        p {
            font-size: 30px;
        }
        img {
            width: 300px;
        }
    }
    .copiarCorreoElectronico {
        align-items:flex-end;
    }
    .copiarCorreoElectronico a {
        margin-left: 10px;
    }
    .copiarCorreoElectronico button {
        margin-left: 10px;
    }
}