/* Menú */
#menuMovile{
    /* Apariencia */
    background-color: black;
    /* Posición */
    position:fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    z-index: 4;
    transition: 1s;
    font-weight:700;

}
#menuMovile a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: whitesmoke;
}