/* Decide independientemente la altura de los carrucel */
#carrucel1{
    width: 100%;
    height: 300px;
}
/* Decide independientemente estilos del carrucel */
#carrucel1 img{
    border-radius: 30%;
}
/* Decide cuál carrucel se muestra dependiendo la pantalla */
@media screen and (min-width: 768px){
    #carrucel1{
        display: block;
    }
}
/* Propiedades fijas */
.carrucel{
    display: flex;
    position:relative;
}
/* Botones */
.carrucel button{
    cursor: pointer;
    z-index: 1;
}
.carrucel .carrucelBotonDerecho{
    left: 10px;
}
.carrucel .carrucelBotonIzquierdo{
    right: 10px;
}
.carrucel .carrucelBotonesFlecha button{
    position:absolute;
    width: 30px;
    height: 30px;
    /* top debe ser la mitad del height */
    top: 140px;
}
.carrucel .carrucelBotonesFlecha button:hover{
    background-color:rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.carrucel .carrucelBotonesFlecha button:active{
    background-color:rgba(0, 0, 0, 1);
}
.carrucel .carrucelBotonesPlayStop{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.carrucel .carrucelBotonesPlayStop button{
    height: 30px;
    width: 60px;
    margin: 5px;
}
/* Imágenes */
.carrucel .contenedorVistas{
    width: 100%;
    height: 100%;
}
.carrucel .contenedorImagenesCarrucel{
    width: 100%;
    height: 100%;
    /* El display se lo dá en el javaScript */
    /* display: flex; */
    position: absolute;
    justify-content:space-around;
    align-items: center;
}

.carrucel .contenedorImagenesCarrucel img{
    max-height: 90%;
    max-width: 30%;
}